<p>
    I don’t believe in stress or salads — the former because I’ve never seen it do anyone any good, 
    the latter because I am not a rabbit. I make (small parts of) the internet, cheer for the University
    of Alabama, and would love to speak to you at length about my dogs. 
</p>
<ul class="list-unstyled info-list contact-list home-contact-list">
    <li><span class="info-list-label">Email</span><a href="mailto:contact@pete.holiday">contact@pete.holiday</a></li>
    <li><span class="info-list-label">Location</span>Atlanta, GA</li>
    <li>
        <span class="info-list-label">Follow Me</span>
        <div id="social-icons">
            <%=link_to fa_icon('facebook'), 'https://www.facebook.com/pete.holiday', target: '_blank' %>
            <%=link_to fa_icon('twitter'), 'https://twitter.com/toomuchpete', target: '_blank' %>
            <%=link_to fa_icon('instagram'), 'https://instagram.com/toomuchpete/', target: '_blank' %>
            <%=link_to fa_icon('github'), 'https://github.com/toomuchpete', target: '_blank' %>
        </div>
    </li>
</ul>
