<div class="row">
    <div class="col-xs-12">
        <h2>What sort of thing are you trying to tell me?</h2>
    </div>

    <div class="col-xs-12">
        <dl class="contact_methods">
            <dt>I want to tell you about a job opportunity.</dt>
            <dd>Email <a href="mailto:jobs@pete.holiday">jobs@pete.holiday</a>.</dd>

            <dt>Hi, I'd like to add you to my professional network on LinkedIn.</dt>
            <dd>. . .</dd>

            <dt>I need to send you a public message in fewer than 140 characters.</dt>
            <dd>plz @ me <a href="https://twitter.com/toomuchpete">@toomuchpete</a>.</dd>

            <dt>I'm vomiting rainbows, want to see?</dt>
            <dd>Ummmmm.... <a href="snapchat.com/add/toomuchpete">okay</a>. 

            <dt>Hi, I'd like to add you to my professional network on LinkedIn.</dt>
            <dd>ಠ_ಠ</dd>

            <dt>I want to communicate with you vocally.</dt>
            <dd>Yo, it's 2016. That's totally weird.</dd>

            <dt>I want to mail you brownies.</dt>
            <dd>This is great news. Email me at <a href="mailto:contact@pete.holiday">contact@pete.holiday</a> for my address.</dd>

            <dt>Hi, I'd like to add you to my professional network on LinkedIn.</dt>
            <dd><a href="https://www.linkedin.com/in/peteholiday">Fine</a>.</dd>
        </dl>
    </div>

</div>
