<div class="row">
    <div class="col-md-4 col-xs-12">
        <h2>Education</h2>
        <div class="cv-edu">
            <h4 class="degree">Juris Doctor</h4>
            <div class="institution">Indiana University, Maurer School of Law (2008)</div>
            <p>
                To the extent possible, I focused my coursework on Trial Advocacy and Intellectual Property, but I
                found Tax far more interesting than I expected to.
            </p>
            <p>
                I volunteered with the <a href="http://www.law.indiana.edu/pop/">Protective Order Project</a>,
                helping to do client intake and provide support to both the clients and attorneys working on
                their cases. I was as a member of IU's Trial Team and received brief-writing honors
                in the school's Moot Court Competition. I also served as an Admissions Fellow, helping prospective
                students and their families learn more about IU.
            </p>
            <p>
                I've never taken a bar exam and am not licesned to practice in any jurisdiction.
            </p>
        </div>
        <div class="cv-edu">
            <h4 class="degree">B.S. in Computer Science</h4>
            <div class="institution">University of Alabama (2005)</div>
            <p>
                In addition to occasionally doing coursework, I was an inaugural member of the 
                <a href="http://blount.as.ua.edu/">Blount Undergraduate Initiative</a>, and 
                <a href="http://ambassadors.as.ua.edu/">Ambassador of the College of Arts & Sciences</a>,
                and an active member of the campus's <a href="http://uacirclek.org/">largest community service
                organization</a>.
            </p>
            <p>
                I was elected to various leadership roles on the local, state, and international level. I went to
                every football game I could get my hands on tickets to. I completed hundreds upon hundreds of hours
                of (voluntary) community service. It was a good time.
            </p>
            <p>
                I'd be happy to discuss all of these things in excuciating detail, if you're interested in last
                decade's minutia.
            </p>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <h2>Professional Experience</h2>
        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-3"><h4>MailChimp</h4></div>
                <div class="col-xs-6">Software Engineering Manager</div>
                <div class="col-xs-3 employed-period">Oct 2015 - Jul 2016</div>
            </div>
            <p>
                As MailChimp's first full time Software Engineering Manager, I worked with company leadership to set up
                the role and priorities for the position. I served as a mentor and manager for engineers on a variety of teams.
                In addition to standard managmenet duties, I also worked to improve department policies. 
            </p>
            <p>
                I co-wrote MailChimp's 2016 product engineering hiring plan. The plan focused on pacing to allow
                us to focus on a quality on-boarding experience as well as implementing policies to ensure a diverse and 
                representative pool of applicants to consider.
            </p>
            <p>
                I led the effort on the product engineering team to collect research and development hours. The process we
                implemented minimized the impact on engineers while attempting to maximize our R &amp; D tax credit. Our
                process was used as a model by other departments in the company. 
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-3"><h4>MailChimp</h4></div>
                <div class="col-xs-6">Senior / Lead Engineer</div>
                <div class="col-xs-3 employed-period">Jul 2013 - Oct 2015</div>
            </div>
            <p>
                Though I did do general product development work, I was primarily responsible for maintenance and development 
                of the MailChimp API.
            </p>
            <p>
                I led the design and development of v3.0 of the MailChimp API. Early in the project, my work centered on API design, 
                building core architecture, and managing two other engineers. Toward the end of the project, we wored closely with
                other departments (like support, marketing, and content &amp; testing) to ensure a smooth release. 
            </p>
            <p>
                As the lead of the API team, I managed the other engineers on the team, wrote (awesome) code, and helped set development
                priorities.
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-3"><h4>Tapjoy</h4></div>
                <div class="col-xs-6">Manager and Senior Engineer</div>
                <div class="col-xs-3 employed-period">Feb 2012 - Jun 2013</div>
            </div>
            <p>
                I managed a team of five engineers who focused on urgent and high-priority requests from other business units. Our
                focus was on fixing costly and pernicious bugs as well as documenting and paying down technical debt. I created this 
                role shortly after being hired when I noticed that requests from other teams were not being addressed as quickly
                or reliably as they should have been.
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-3"><h4>Remark Media</h4></div>
                <div class="col-xs-3">Developer</div>
                <div class="col-xs-6 employed-period">Jan 2010 - Feb 2012</div>
            </div>
            <p>
                Worked with a medium-sized team to develop what could have been a really awesome health-related Q&amp;A site,
                had it not been horribly mismanaged. Remark Media was the development partner while 
                <a href="http://www.sharecare.com/">another company</a> was responsible for managing the product and financing.
            </p>
        </div>
        <div class="cv-employment" style="font-size: 75%; text-align: center; color: #c0c0c0; font-style: italic">
            Earlier work history available by request.
        </div>

        <h2>Skills</h2>
        <div class="cv-skills">
            <h4>Languages</h4>
            <p>
                I have professional experience in PHP, Ruby, Python, Java, Javascript, HTML, and CSS. I've used C# and
                Unity extensively. I've dabbled in a bunch of other languages.
            </p>
            <p>
                That said, I've been programming for more than 20 years. If I don't know a language,
                it won't take me long to figure it out. When I started work at Tapjoy, I hadn't written a line of Ruby code, 
                and I was cranking out high-quality Ruby within months. 
            </p>
        </div>
        <div class="cv-skills">
            <h4>Storage Technologies</h4>
            <p>
                <span style="font-weight: bold">Relational databases:</span> MySQL, Postgres, Oracle, SQL Server
            </p>
            <p>
                <span style="font-weight: bold">Document Storage:</span> MongoDB and Riak
            </p>
            <p>
                <span style="font-weight: bold">Caching:</span> Redis and Memcache
            </p>
        </div>
        <div class="cv-skills">
            <h4>Other Skills</h4>
            <p>
                <span style="font-weight: bold">Management</span>: I'm able to manage engineers of any experience level. I'm
                good at providing feedback (both positive and constructive), helping engineers prioritize their work to
                align with company goals, and helping them to advance professionally. I excel at working within an organization's
                structures to remove roadblocks so that work can get done. I also have managed engineering leaders and helped
                mentor them in working with their teams effectively.
            </p>
            <p>
                <span style="font-weight: bold">Communication</span>: I am excellent at both written and verbal communication,
                but only in English, unfortunately. I have worked with interpreters and translators when communication with
                non-English speakers is required. 
            </p>
            <p>
                <span style="font-weight: bold">Design</span>: I have experience with object-oriented design software and 
                web service API design. Visual design is not something I'm very good at, but I recognize its importance and
                enjoy working with talented designers.
            </p>
        </div>
    </div>
</div>
