<div class="row">
    <div class="col-md-4 col-xs-12">
        <h3>Education</h3>
        <div class="cv-edu">
            <h4 class="degree">Juris Doctor</h4>
            <div class="institution">Indiana University, Maurer School of Law (2008)</div>
            <p>
                To the extent possible, I focused my coursework on Trial Advocacy and Intellectual Property, but I
                found Tax far more interesting than I expected to.
            </p>
            <p>
                I volunteered with the <a href="http://www.law.indiana.edu/pop/">Protective Order Project</a>,
                helping to do client intake and provide support to both the clients and attorneys working on
                their cases. I was as a member of IU's Trial Team and received brief-writing honors
                in the school's Moot Court Competition. I also served as an Admissions Fellow, helping prospective
                students and their families learn more about IU.
            </p>
            <p>
                I've never taken a bar exam and am not licesned to practice in any jurisdiction.
            </p>
        </div>
        <div class="cv-edu">
            <h4 class="degree">B.S. in Computer Science</h4>
            <div class="institution">University of Alabama (2005)</div>
            <p>
                In addition to occasionally doing coursework, I was an inaugural member of the 
                <a href="http://blount.as.ua.edu/">Blount Undergraduate Initiative</a>, and 
                <a href="http://ambassadors.as.ua.edu/">Ambassador of the College of Arts & Sciences</a>,
                and an active member of the campus's <a href="http://uacirclek.org/">largest community service
                organization</a>.
            </p>
            <p>
                I was elected to various leadership roles on the local, state, and international level. I went to
                every football game I could get my hands on tickets to. I completed hundreds upon hundreds of hours
                of (voluntary) community service. It was a good time.
            </p>
            <p>
                I'd be happy to discuss all of these things in excuciating detail, if you're interested in last
                decade's minutia.
            </p>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <h2>Professional Experience</h2>
        <p>I have some of this.</p>
    </div>
</div>
