<div class="row">
    <div class="col-md-4 col-xs-12">
        <h2>Education</h2>
        <div class="cv-edu">
            <h4 class="degree">Juris Doctor</h4>
            <div class="institution">Indiana University, Maurer School of Law (2008)</div>
            <p>
                To the extent possible, I focused my coursework on Trial Advocacy and Intellectual Property, but I
                found Tax far more interesting than I expected to.
            </p>
            <p>
                I volunteered with the <a href="http://www.law.indiana.edu/pop/">Protective Order Project</a>,
                helping to do client intake and provide support to both the clients and attorneys working on
                their cases. I was as a member of IU's Trial Team and received brief-writing honors
                in the school's Moot Court Competition. I also served as an Admissions Fellow, helping prospective
                students and their families learn more about IU.
            </p>
            <p>
                I've never taken a bar exam and am not licesned to practice in any jurisdiction.
            </p>
        </div>
        <div class="cv-edu">
            <h4 class="degree">B.S. in Computer Science</h4>
            <div class="institution">University of Alabama (2005)</div>
            <p>
                In addition to occasionally doing coursework, I was an inaugural member of the 
                <a href="http://blount.as.ua.edu/">Blount Undergraduate Initiative</a>, and 
                <a href="http://ambassadors.as.ua.edu/">Ambassador of the College of Arts &amp; Sciences</a>,
                and an active member of the campus's <a href="http://uacirclek.org/">largest community service
                organization</a>.
            </p>
            <p>
                I was elected to various leadership roles on the local, state, and international level. I went to
                every football game I could get my hands on tickets to. I completed hundreds upon hundreds of hours
                of (voluntary) community service. It was a good time.
            </p>
            <p>
                I'd be happy to discuss all of these things in excuciating detail, if you're interested in last
                decade's minutia.
            </p>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <h2>Work History</h2>
        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>RailsGirls Summer of Code</h4></div>
                <div class="col-xs-5">Volunteer Coach</div>
                <div class="col-xs-3 employed-period">July 2016 - Sept 2016</div>
            </div>
            <p>
                I worked with <a href="https://teams.railsgirlssummerofcode.org/teams/124">Team MitPal</a> on SUSE’s 
                <a href="https://github.com/openSUSE/osem">Open Source Event Manager</a>. 
            </p>
            <p>
                Along with another coach, I worked with the two team members to craft their application to the program.
            </p>
            <p>
                Paired with the team members twice a week to help them develop their Ruby on Rails skills and accomplish
                their project goals. This typically involved helping them learn new ways of thinking about problems and 
                general programming skills.
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>MailChimp</h4></div>
                <div class="col-xs-5">Software Engineering Manager</div>
                <div class="col-xs-3 employed-period">Oct 2015 - Jul 2016</div>
            </div>
            <p>
                As MailChimp's first full time Software Engineering Manager, I worked with company leadership to set up
                the role and priorities for the position. I served as a mentor and manager for engineers on a variety of teams.
                In addition to standard management duties, I also worked to improve department policies. 
            </p>
            <p>
                I co-wrote MailChimp's 2016 product engineering hiring plan. The plan focused on pacing to allow
                us to focus on a quality on-boarding experience as well as implementing policies to ensure a diverse and 
                representative pool of applicants to consider.
            </p>
            <p>
                I led the effort on the product engineering team to collect research and development hours. The process we
                implemented minimized the impact on engineers while attempting to maximize our R &amp; D tax credit. Our
                process was used as a model by other departments in the company. 
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>MailChimp</h4></div>
                <div class="col-xs-5">Senior / Lead Engineer</div>
                <div class="col-xs-3 employed-period">Jul 2013 - Oct 2015</div>
            </div>
            <p>
                Though I did do general product development work, I was primarily responsible for maintenance and development 
                of the MailChimp API.
            </p>
            <p>
                I led the design and development of v3.0 of the MailChimp API. Early in the project, my work centered on API design, 
                building core architecture, and managing two other engineers. Toward the end of the project, we wored closely with
                other departments (like support, marketing, and content &amp; testing) to ensure a smooth release. 
            </p>
            <p>
                As the lead of the API team, I managed the other engineers on the team, wrote (awesome) code, and helped set development
                priorities.
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>Tapjoy</h4></div>
                <div class="col-xs-5">Manager and Senior Engineer</div>
                <div class="col-xs-3 employed-period">Feb 2012 - Jun 2013</div>
            </div>
            <p>
                I managed a team of five engineers who focused on urgent and high-priority requests from other business units. Our
                focus was on fixing costly and pernicious bugs as well as documenting and paying down technical debt. I created this 
                role shortly after being hired when I noticed that requests from other teams were not being addressed as quickly
                or reliably as they should have been.
            </p>
        </div>

        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>Atlanta Flying Disc Club</h4></div>
                <div class="col-xs-5">Web Director</div>
                <div class="col-xs-3 employed-period">July 2011 - Present</div>
            </div>
            <p>
                The <a href="http://www.afdc.com">AFDC</a> is a 501(c)(3) charity which runs recreational ultimate
                frisbee leagues in Atlanta and helps to promote the sport in schools and the community.
            </p>
            <p>
                I serve as a voting member on the organization's board of directors. The board oversees programs and leagues for
                our membership and community. The board also manages a budget boasting six-figure revenue.
            </p>
            <p>
                I built and maintain the AFDC’s web presence, including its league management system which allows
                registration and payment for leagues. Through the course of my tenure in this position, we've transitioned
                from a collection of one-off PHP scripts to an <a href="https://github.com/AFDC/Platinum">open-source Ruby
                on Rails application</a>.
            </p>
            <p>
                In addition to development work, I also lead the web committee which consists of other volunteers and
                occasional interns, all working together to improve the organization's digital operations.
            </p>
        </div>


        <div class="cv-employment">
            <div class="row employer">
                <div class="col-xs-4"><h4>Remark Media</h4></div>
                <div class="col-xs-5">Developer</div>
                <div class="col-xs-3 employed-period">Jan 2010 - Feb 2012</div>
            </div>
            <p>
                Worked with a medium-sized team to develop what could have been a really awesome health-related Q&amp;A site,
                had it not been horribly mismanaged. Remark Media was the development partner while 
                <a href="http://www.sharecare.com/">another company</a> was responsible for managing the product and financing.
            </p>
        </div>
        <div class="cv-employment" style="font-size: 75%; text-align: center; color: #c0c0c0; font-style: italic">
            Earlier work history available by request.
        </div>
    </div>
</div>
