.cv-edu, .cv-employment, .cv-skills {
    margin-top: 15px;
    margin-bottom: 30px;
}

.cv-edu .institution {
    font-style: italic;
}

.cv-edu p, .cv-employment p, .cv-skills p {
    font-size: 90%;
    margin: 8px;
    color: #909090;
}

.cv-employment .employed-period {
    font-style: italic;
    text-align: right;
}

.cv-employment .employer {
    border-bottom: 1px solid #f0f0f0;
}

dl.contact_methods {
    margin-bottom: 10px;
}

dl.contact_methods dt {
    margin-top: 20px;
    font-weight: bold;
}

dl.contact_methods dd {
    padding-left: 25px;
    font-size: 90%;
    margin: 8px;
    color: #909090;
}

#content #main-content .intro-blurb p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 2.0em;
}

.intro-blurb .emphasis {
    font-weight: bold;
}

#hire-me .more-info div {
    text-align: center;
}
